[submodule "go-dispatcher"]
	path = go-dispatcher
	url = https://github.com/xmh19936688/go-dispatcher
	branch = test
[submodule "go-requester"]
	path = go-requester
	url = https://github.com/xmh19936688/go-requester
	branch = main
[submodule "go-number"]
	path = go-number
	url = https://github.com/xmh19936688/go-number.git
	branch = main
[submodule "go-seeker"]
	path = go-seeker
	url = https://github.com/xmh19936688/go-seeker.git
	branch = main
